img{
   display:block;
    width:200px;
    transition: 
    width 0.5s;
    filter: grayscale(100%)
}

#myCat:hover{
   width:400px;
   rotate: 360deg;
   filter: grayscale(0%);
   transition: 
   width 0.5s,
   rotate 2s,
   filter 2s;
}
#neighborCat:hover{
   filter: grayscale(0%);
}
.container{
   position:relative;
   width:50%;
}
#overlay{
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   height:100%;
   width:100%;
   opacity:0;
   transition: .5s ease;
   background-color: #008cba;
}
.container:hover #overlay{
   opacity:1;
}